.progress__bar {
    margin-top: 25px;
    width: 500px;
    height: 35px;
    padding: 4px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.progress__thumb {
    height: 100%;
    border-radius: 5px;
    width: 100%;
    transform: scaleX(0);
    transition: transform var(--trans);
    background-color: var(--accent);
    transform-origin: left;
}

#twenty_five:checked ~ .progress__bar > .progress__thumb  {
    transform: scaleX(0.25);
}

#fifty:checked ~ .progress__bar > .progress__thumb  {
    transform: scaleX(0.5);
}

#seventy_five:checked ~ .progress__bar > .progress__thumb  {
    transform: scaleX(0.75);
}

#ninety_five:checked ~ .progress__bar > .progress__thumb  {
    transform: scaleX(0.95);
}


.progress__label {
    display: inline-block;
    padding: 10px;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: color var(--trans), background-color var(--trans);
    background-color: transparent;
}

.progress [type="radio"]:checked + label{
    color: var(--white);
    background-color: var(--accent)
}

.progress__label:hover {
    background-color: rgba(233, 83, 128, 0.25);
}